<div class='col-md-12'>
<h1><%= @trip.name %> Info</h1>
<%= link_to 'Add Location', new_trip_location_path(@trip), class: 'btn btn-primary' %>
<table class='table'>
  <thead>
    <tr>
      <td>location Name</td>
      <td>Days Spent</td>
      <td>Action</td>
    </tr>
  </thead>
  <tbody>
    <% @trip.locations.each do |location| %>
    <tr>
      <td><%= link_to location.name, trip_location_path(@trip, location) %></td>
      <td><%= location.days %></td>
      <td><%= link_to "Edit", edit_location_path(location), class: 'btn btn-warning' %> <%= link_to "Delete", location_path(location), method: :delete, class: 'btn btn-danger'%></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "back", trips_path %>
</div>
