

<%= form_with(model: [@trip, @location], local: true) do |f| %>

<h1><%= @location.id ? ('Edit Location') : ('Create Location') %></h1>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, required: true, placeholder: "name" %>
  </div>
  <div class="field">
    <div class="field">
    <%= f.label :days %>
    <%= f.text_field :days, required: true, placeholder: "days" %>
  </div>
  <div class="field">
<%= f.submit nil, class: "i green button inverted"%>
<% end %>